@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
* {
    /* ブラウザ全体の余白を消す */
    margin: 0;
    padding: 0;
}

body {
    margin-top: 42vh;
    /* height: 100%; */
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    position: relative;
    background-color: rgb(3, 187, 126);
    height: 7vh;
    top: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
}

.header p {
    position: absolute;
    top: 50%;
    font-size: 2.7vh;
    transform: translate( 0%, -50%);
    color: rgb(255, 255, 255);
}

.header img {
    height: 95px;
    float: right;
    margin-right: 20px;
}

main {
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 35vh;
    width: 100%;
    top: 7%;
    left: 0;
    z-index: 3;
}

h3 {
    font-size: 2vw;
    padding-top: 0.5vh;
    padding-left: 2vh;
    margin-bottom: 0.5vh;
    color: darkgrey;
}

.header a {
    position: absolute;
    font-size: 1.5vh;
    right: 2vh;
    bottom: 1vh;
}

.main-select {
    justify-content: center;
    display: flex;
    height: 9vh;
    width: 100%;
}

.form-floating {
    position: relative;
}

.select1 select {
    display: block;
    width: 25vw;
    height: 5vh;
    background-color: rgba(240, 240, 240, 0.5);
    border-bottom: solid 2px rgb(87, 85, 85);
    box-shadow: 4px 2px 4px rgb(199, 199, 199);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1vh;
    font-size: 1.2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    /* flex-grow: 10; */
}

.select1 label {
    color: rgb(145, 143, 143);
    margin-left: 2.5vh;
    font-size: 1.4vh;
}

.select1 input {
    display: block;
    width: 25vw;
    height: 4.8vh;
    background-color: rgba(240, 240, 240, 0.5);
    border-bottom: solid 2px rgb(87, 85, 85);
    box-shadow: 4px 2px 4px rgb(199, 199, 199);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1vh;
    font-size: 1.2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.container {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 14vh;
    padding-top: 2vh;
}

.box11 {
    padding: 0.5em 1em;
    margin: 2vh;
    width: 30vh;
    height: 8vh;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.22);
}

.box11 p {
    margin: 0;
    padding: 0;
}

.border {
    border-bottom: solid 2px rgb(185, 185, 185);
    box-shadow: 10px 2px 4px rgb(199, 199, 199);
    margin-top: 2vh;
    /* margin-bottom: 20px; */
    width: 100%;
}

.border_1 {
    border-bottom: solid 2px rgb(185, 185, 185);
    box-shadow: 10px 2px 4px rgb(199, 199, 199);
    margin-top: 2vh;
    /* margin-bottom: 1%; */
    width: 100%;
}

.border_2 {
    border-bottom: solid 2px rgb(185, 185, 185);
    box-shadow: 10px 2px 4px rgb(199, 199, 199);
    margin-top: 2vh;
    /* margin-bottom: 1%; */
    width: 100%;
}

table {
    /* width:800px;
    table-layout: fixed; */
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
}

th,
td {
    font-size: 1.2vw;
    width: 100vh;
    border-bottom: 1px solid rgb(126, 126, 126);
}

.section_0 {
    height: 32%;
    width: 100%;
}

.section_1 {
    width: 100%;
    height: 50%;
}

.table_sticky {
    display: block;
    overflow-y: scroll;
    width: 90%;
    height: 25vh;
    margin: auto;
}

.table_sticky thead th {
    font-size: 1.2w;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-top: #FFFFFF;
    color: rgb(100, 100, 100)
}

.table_sticky1 tbody th {
    position: sticky;
    left: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    border-top: #FFFFFF;
    color: rgb(100, 100, 100)
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 3px #ffffff inset;
    background: #95959591;
    border-radius: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 3px #ffffff inset;
    background: rgb(224, 224, 224);
    border-radius: 7px;
}


/* canvas{
    margin-top:40px;
    height: 200px;
    background-color: rgb(255, 255, 255);
} */

#content1 {
    width: 90%;
    height: 35vh;
    margin: 0 auto;
    z-index: 1;
}

#graph-area1 {
    /* margin-top:40px; */
    margin-bottom: 1vh;
    /* width: auto; */
    /* height: 250px; */
    /* border: 1px solid black; */
    z-index: 1;
}

#content2 {
    width: 90%;
    height: 35vh;
    /* margin-bottom:40px; */
    margin: 0 auto;
    z-index: 1;
}

#graph-area2 {
    /* margin-top:40px; */
    margin-bottom: 1vh;
    /* width: auto;
    height: 250px; */
    /* border: 1px solid black; */
    z-index: 1;
}

#content-map {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    z-index: 1;
}

#view_map {
    /* margin-top:40px; */
    margin-bottom: 5vh;
    margin-top: 2vh;
    height: 50vh;
    /* border: 1px solid black; */
    z-index: 1;
}

iframe {
    margin-top: 25px;
    width: 100%;
    height: 550px;
    border: 1px solid black;
}


/* #myCanvas-map {
    width: 100%;
    height: 100%;
    border: 1px solid black;
} */